<h1>Editing Orders Details</h1>

<%= render "form", ordersdetail: @ordersdetail %>

<br>

<div>
  <%= link_to "Show this Orders Details", @ordersdetail %> |
  <%= link_to "Back to Orders Details", ordersdetails_path %>
</div>
