<div id="<%= dom_id order %>">
  <p>
    <strong>Payment method:</strong>
    <%= order.payment_method_id %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= order.employee_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

</div>
