<div class="container">
  <h1 class="text-center">List of Orders</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <th style="font-size: 20px">Order Id</th>
      <th></th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_id %></td>
        <td>
          <%= link_to "Show", order, class: "btn btn-primary" %>
        </td>
        <td>
          <%= button_to "Destroy", order, method: :delete, class: "btn btn-danger"%>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to "Create New Order", new_order_path, class: "btn btn-success" %>
</div>
<br><br>
